/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------classes fonctionnelles flex box------------ */ 
.flex {
display:flex;
flex-wrap:wrap;
}

/* alignement horizontale */
.space-between {
justify-content:space-between;
}

.space-around {
justify-content:space-around;
}

.space-evenly {
justify-content:space-evenly;
}

.justify-center {
justify-content:center;
}

.flex-end {
justify-content:flex-end;
}

.flex-start {
justify-content:flex-start;
}

.text-center {
    text-align: center;
}

/* alignement verticale */

.align-center {
align-items:center;
}

.align-end{
align-items:end;
}

/* Gap */

.gap-12 {
gap:12px;
}

.gap-20 {
gap:20px;
}
.gap32pc{
    gap: 32px;
}

.gap-230 {
    gap: 230px;
}

.padding-left-50{
    padding-left: 50px;
}

.padding-right-50{
    padding-right: 50px;
}

.card{
    background-color: antiquewhite;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
}

.card-2{
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
}

.carte{
    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 10px;
    box-shadow:rgb(0,0,0,0,5);
}

.grande-carte{
    width: 100%;
    background-color: #FFD2D7;
    padding: 15px;
    border-radius:  10px 10px 10px 10px;
}



.border-radius-30{
    border-radius: 30px;
}

/* classes de largeurs */

.w-100 {
    width: 100%;
}

.w-48 {
    width: 48%;
}

.w-70pc{
    width: 70%;
}

.w-33 {
    width: 33%;
}

.w-22 {
    width: 22%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

/* container */
.container{
 max-width: 1000px;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}

/* classes couleurs */

.color-span{
 color: #FD8D5D;
}

.list-puce {
    list-style-type: none;
}


a {
    text-decoration: none;
}

.top-0{
    top: 0px;
}

.sticky{
    position: sticky;
    left: 0;
}

.btn {

    background-color: #BF124D;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
}

.bg-color{

    background-color: #BF124D;
}

h1, h2, h3, h4{
    font-family: "Chewy" ;
}

.bg-baniere{
    background-image: url(asset/hero-bg.png);
    background-position: bottom;
    padding: 64px;
}

.bg-section-footer{
    padding: 100px 0 60px 0;
    background-color: #BF124D;
}

